body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: rgb(238, 244, 244);
  border-top: 10px solid #5b8fcb;
  position: relative;
  height: 90px;
}

header div {
  display: inline-block;
}

header div span {
  background: white;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

header div p {
  background: #5b8fcb;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
}

header ul {
  display: inline-block;
}

header li {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #5b8fcb;
  padding: 7px;
  border-radius: 100%;
  margin-top: 10px;
}

header li img {
  width: 30px;
  height: 30px;
}

.div_logo {
  position: absolute;
  left: 150px;
}

.div_search {
  color: white;
  position: absolute;
  left: 600px;
  top: 15px;
}

.div_social {
  position: absolute;
  left: 1000px;
}

.baixo_header {
  background: #5b8fcb;
  padding-left: 100px;
  margin-top: -15px;
}

.baixo_header li {
  font-weight: bold;
  display: inline-block;
  color: white;
  padding: 10px;
}

.baixo_header a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: -17px;
}